* {
  box-sizing: border-box;
  background-color: #fdfaf7;
  /* outline: dotted red 1px; */
  font-family: Quicksand;
}

/* ========= MAIN ========== */

main {
  width: 750px;
  margin: auto;
  margin-top: 75px;
}

main > p {
  margin-left: -45px;
  font-family: Quicksand;
  font-size: 135px;
}

main p::first-letter{
  font-weight: 900;
  font-size: 200px;
}

main > p:nth-child(2) {
  margin-left: 315px;
  margin-top: -30px;
  font-weight: 800;
}

h4 {
  font-size: 32px;
  font-weight: bolder;
}

/* ========= DIV BOXES ========== */

div ul {
  text-align: right;
  padding-top: 125px;
  padding-right: 315px;
  background-color: hsla(38, 100%, 95%, 0%);

}
div ul li {
  background-color: hsla(38, 100%, 95%, 0%);
  color: #7ED1C1;
  font-size: 26px;

}

#box2 ul li:last-child {
  font-size: 22px;
}

div ul li a {
  text-decoration: none;
  font-size: 40px;
  font-weight: bold;
  background-color: hsla(38, 100%, 95%, 0%);
  color: #7ED1C1;
}

/* ========= BOX 1 ========== */


#box1 {
  background-color: hsla(350, 93%, 95%,40%);
  width: 600px;
  height: 600px;
  position: static;
  margin-top: -640px;
  margin-left: 15px;
  box-shadow: (5px,5px,1px);
}

/* ========= BOX 2 ========== */

#box2 {
  background-color: hsla(38, 100%, 95%);
  width: 800px;
  height: 800px;
  position: static;
  margin-top: -285px;
  margin-left: 400px;

}

#logo {
  margin-top: 0px;
  margin-left: -215px;
  background-color: rgba(0,0,0,0%);
  position: static;
  height: 110%;
  width: 110%; 
}

/* ========= BOX 3 ========== */

#box3 {
  width: 400px;
  height: 400px;
  margin-top: -100px;
  margin-left: -275px;
}

#box3 img {
  width: 100%;
  height: auto;
}

#box3 h3 {
  font-size: 42px;
  font-weight: 800;
}

#box3 ul {
  font-size: 24px;
  margin-top: -120px;
}

#box3 ul li {
  width: 400px;
}


/* ========= BOX 4 ========== */

#box4 {
  width: 400px;
  height: 400px;
  margin-top: -400px;
  margin-left: 170px;
}

#box4 > p::first-letter {
  font-size: 75px;

}

#box4 > p {
  text-indent: 45px;
  letter-spacing: -1px;
  font-size: 26px;
}

/* ========= BOX 5 ========== */

#box5 {
  width: 400px;
  height: 400px;
  margin-top: -400px;
  margin-left: 610px;
}

#box5 > p {
  font-size: 20px;
  text-indent: 25px;
}

#box5 > p::first-letter {
  font-size: 50px;
}

#box5 img {
  width: 50%;
  height: auto;
  float: right;
}

/* ========= BOX 6 ========== */

#box6 {
  width: 600px;
  height: 600px;
  margin-top: 50px;
  margin-left: -100px;
}






/* ========= BOX 7 ========== */

#box7 {
  /* position: absolute; */
  width: 600px;
  height: 900px;

}


#box7 img {
  width: 50%;

}