* {
  box-sizing: border-box;
  background-color: #fff5ee;
  /* outline: dotted red 1px; */
}

img {
  max-width: 100%;
}

table {
  border: solid 1px;
  border-collapse: collapse;
  margin: 10px;
}

th, td, tr {
  border: solid lightsalmon 2px;
  padding: 5px;
}


